* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

:root {
  --main-text-color: #424242;
  --main-green-color: #01996d;
}

/********** Header start ************/

.header {
  width: 100%;
  border-bottom: 1px solid #d6d6d6;
}

.header__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.menu__list {
  display: flex;
}

.menu__item {
  font-family: "Lato", sans-serif;
  list-style: none;
  margin: 25px;
  color: var(--main-text-color);
  font-size: 18px;
}

.menu__link {
  color: var(--main-text-color);
  font-size: 18px;
}

.menu__link--hover:hover {
  color: #666666;
}

.user-nav__link {
  font-family: "Lato", sans-serif;
  color: var(--main-text-color);
  font-size: 18px;
  margin-right: 20px;
}

.user-nav__link--hover:hover {
  color: #666666;
}

.user-nav__button {
  background-color: #01996d;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  width: 185px;
  height: 51px;
  padding: 13px;
  transition: 0.5s;
}

.user-nav__button--hover:hover {
  background-color: #00b884;
}

/*********** Header end ***********/

/*********** Get-started start ***********/

.get-started {
  width: 100%;
  height: 900px;
  background: url("../img/background.png") no-repeat;
  background-size: cover;
}

.get-started__container {
  padding: 10px;
}

.get-started__text-wrapper {
  position: absolute;
  left: 120px;
  top: 280px;
}

.get-started__title {
  font-size: 68px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: var(--main-green-color);
}

.get-started__text {
  font-size: 20px;
  font-family: "Lato", sans-serif;
  line-height: 1.5em;
  margin: 20px 0px 50px 0px;
}

.get-started__button {
  background-color: #01996d;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  width: 230px;
  height: 65px;
  padding: 13px;
  transition: 0.5s;
}

.get-started__button--hover:hover {
  background-color: #00b884;
}

/*********** Get-started end ***********/

/*********** Steps-block start ***********/

.steps-block {
  width: 100%;
}

.steps-block__container {
  padding: 20px;
}

.steps-block__text-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 50px;
}

.steps-block__text {
  font-size: 24px;
  font-family: "Lato", sans-serif;
}

.steps-block__title {
  color: var(--main-green-color);
  font-size: 50px;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.4em;
}

.steps-block__description {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  line-height: 1.5em;
}

.steps-block__item-wrapper {
  display: flex;
  justify-content: center;
}

.steps-block__item {
  height: 100%;
  margin: 25px;
}

.steps-block__item-number {
  font-size: 128px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #111111;
  opacity: 20%;
}

.steps-block__item-title {
  font-size: 26px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.steps-block__item-text {
  color: var(--main-text-color);
  font-size: 18px;
  font-family: "Lato", sans-serif;
  margin-bottom: 50px;
}

.steps-block__item-img {
  border-radius: 10px;
  max-width: 100%;
}

/*********** Steps-block end ***********/

/*********** Story-block start ***********/

.story-block {
  background-color: #245852;
}

.story-block__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 70px;
}

.story-block__text-wrapper {
}

.story-block__title {
  color: white;
  font-size: 50px;
  line-height: 1.5em;
  margin-bottom: 20px;
}

.story-block__text {
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  margin-bottom: 50px;
}

.story-block__button {
  background-color: #01996d;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  width: 230px;
  height: 65px;
  padding: 13px;
  transition: 0.5s;
}

.story-block__button--hover:hover {
  background-color: #00b884;
}

.story-block__video {
  max-width: 100%;
}

/*********** Story-block end ***********/

/*********** Our-product start ***********/

.our-product {
  height: 800px;
}

.our-product__container {
  display: flex;
  justify-content: space-around;
  padding: 60px;
  position: relative;
}

.our-product__customize {
  background-color: #ffffff;
  border-radius: 5px;
  width: 20%;
  padding: 20px;
  text-align: center;
  position: absolute;
  bottom: -50px;
  left: 50px;
  box-shadow: -5px 5px 20px rgb(200, 200, 200);
}

.our-product__customize-subtitle {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
}

.our-product__customize-line {
  margin: 0 auto;
  width: 50%;
}

.our-product__customize-photo {
  border-radius: 150px;
  width: 80px;
  height: 80px;
  margin: 20px 0px 10px 0;
}

.our-product__customize-name {
  font-family: "Lato", sans-serif;
}

.our-product__customize-contents {
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 20px 0 20px 0;
}

.skills-list {
  list-style: none;
}

.skills-list__item {
  font-family: "Lato", sans-serif;
  margin: 20px;
}

.our-product__subtitle {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  margin-bottom: 15px;
}

.our-product__title {
  color: var(--main-green-color);
  font-size: 50px;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.5em;
  margin-bottom: 15px;
}

.our-product__text {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  margin-bottom: 25px;
}

.our-product__button {
  background-color: #01996d;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  width: 230px;
  height: 65px;
  padding: 13px;
  transition: 0.5s;
}

.our-product__button--hover:hover {
  background-color: #00b884;
}

/*********** Our-product end ***********/

/*********** Footer start ***********/
